<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="settings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <settings>
    <add key="MinimumMovieBuffering" value="3" />
    <add key="MinimumShowBuffering" value="5" />
  </settings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Splat" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.2.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
      <add assembly="Microsoft.ApplicationInsights.NLogTarget" />
    </extensions>
    <targets>
      <target name="aiAsync" xsi:type="AsyncWrapper">
        <target type="ApplicationInsightsTarget" name="ai" />
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="aiAsync" />
    </rules>
  </nlog>
</configuration>
