<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
	<TelemetryProcessors>
		<Add Type="Microsoft.ApplicationInsights.SnapshotCollector.SnapshotCollectorTelemetryProcessor, Microsoft.ApplicationInsights.SnapshotCollector">
			<!-- The default is true, but you can disable Snapshot Debugging by setting it to false -->
			<IsEnabled>true</IsEnabled>
			<!-- Snapshot Debugging is usually disabled in developer mode, but you can enable it by setting this to true. -->
			<!-- DeveloperMode is a property on the active TelemetryChannel. -->
			<IsEnabledInDeveloperMode>false</IsEnabledInDeveloperMode>
			<!-- How many times we need to see an exception before we ask for snapshots. -->
			<ThresholdForSnapshotting>5</ThresholdForSnapshotting>
			<!-- The maximum number of snapshots we collect for a single problem. -->
			<MaximumSnapshotsRequired>3</MaximumSnapshotsRequired>
			<!-- The maximum number of problems that we can be tracking at any time. -->
			<MaximumCollectionPlanSize>50</MaximumCollectionPlanSize>
			<!-- How often to reset problem counters. -->
			<ProblemCounterResetInterval>06:00:00</ProblemCounterResetInterval>
			<!-- The maximum number of snapshots allowed in one minute. -->
			<SnapshotsPerMinuteLimit>2</SnapshotsPerMinuteLimit>
			<!-- The maximum number of snapshots allowed per day. -->
			<SnapshotsPerDayLimit>50</SnapshotsPerDayLimit>
		</Add>
	</TelemetryProcessors>
</ApplicationInsights>