<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="akavache" version="6.0.0-alpha0038" targetFramework="net462" />
  <package id="akavache.core" version="6.0.0-alpha0038" targetFramework="net462" />
  <package id="akavache.sqlite3" version="6.0.0-alpha0038" targetFramework="net462" />
  <package id="AsyncEnumerator" version="2.1.0" targetFramework="net462" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="net462" />
  <package id="DeltaCompressionDotNet" version="1.1.0" targetFramework="net462" />
  <package id="Enterwell.Clients.Wpf.Notifications" version="1.0.0" targetFramework="net462" />
  <package id="FFmpegZeranoe" version="3.4.0" targetFramework="net462" />
  <package id="GoogleCast" version="1.3.3" targetFramework="net462" />
  <package id="Humanizer" version="2.2.0" targetFramework="net462" />
  <package id="Humanizer.Core" version="2.2.0" targetFramework="net462" />
  <package id="Humanizer.Core.af" version="2.2.0" targetFramework="net462" />
  <package id="Humanizer.Core.ar" version="2.2.0" targetFramework="net462" />
  <package id="Humanizer.Core.bg" version="2.2.0" targetFramework="net462" />
  <package id="Humanizer.Core.bn-BD" version="2.2.0" targetFramework="net462" />
  <package id="Humanizer.Core.cs" version="2.2.0" targetFramework="net462" />
  <package id="Humanizer.Core.da" version="2.2.0" targetFramework="net462" />
  <package id="Humanizer.Core.de" version="2.2.0" targetFramework="net462" />
  <package id="Humanizer.Core.el" version="2.2.0" targetFramework="net462" />
  <package id="Humanizer.Core.es" version="2.2.0" targetFramework="net462" />
  <package id="Humanizer.Core.fa" version="2.2.0" targetFramework="net462" />
  <package id="Humanizer.Core.fi-FI" version="2.2.0" targetFramework="net462" />
  <package id="Humanizer.Core.fr" version="2.2.0" targetFramework="net462" />
  <package id="Humanizer.Core.fr-BE" version="2.2.0" targetFramework="net462" />
  <package id="Humanizer.Core.he" version="2.2.0" targetFramework="net462" />
  <package id="Humanizer.Core.hr" version="2.2.0" targetFramework="net462" />
  <package id="Humanizer.Core.hu" version="2.2.0" targetFramework="net462" />
  <package id="Humanizer.Core.id" version="2.2.0" targetFramework="net462" />
  <package id="Humanizer.Core.it" version="2.2.0" targetFramework="net462" />
  <package id="Humanizer.Core.ja" version="2.2.0" targetFramework="net462" />
  <package id="Humanizer.Core.lv" version="2.2.0" targetFramework="net462" />
  <package id="Humanizer.Core.nb" version="2.2.0" targetFramework="net462" />
  <package id="Humanizer.Core.nb-NO" version="2.2.0" targetFramework="net462" />
  <package id="Humanizer.Core.nl" version="2.2.0" targetFramework="net462" />
  <package id="Humanizer.Core.pl" version="2.2.0" targetFramework="net462" />
  <package id="Humanizer.Core.pt" version="2.2.0" targetFramework="net462" />
  <package id="Humanizer.Core.ro" version="2.2.0" targetFramework="net462" />
  <package id="Humanizer.Core.ru" version="2.2.0" targetFramework="net462" />
  <package id="Humanizer.Core.sk" version="2.2.0" targetFramework="net462" />
  <package id="Humanizer.Core.sl" version="2.2.0" targetFramework="net462" />
  <package id="Humanizer.Core.sr" version="2.2.0" targetFramework="net462" />
  <package id="Humanizer.Core.sr-Latn" version="2.2.0" targetFramework="net462" />
  <package id="Humanizer.Core.sv" version="2.2.0" targetFramework="net462" />
  <package id="Humanizer.Core.tr" version="2.2.0" targetFramework="net462" />
  <package id="Humanizer.Core.uk" version="2.2.0" targetFramework="net462" />
  <package id="Humanizer.Core.uz-Cyrl-UZ" version="2.2.0" targetFramework="net462" />
  <package id="Humanizer.Core.uz-Latn-UZ" version="2.2.0" targetFramework="net462" />
  <package id="Humanizer.Core.vi" version="2.2.0" targetFramework="net462" />
  <package id="Humanizer.Core.zh-CN" version="2.2.0" targetFramework="net462" />
  <package id="Humanizer.Core.zh-Hans" version="2.2.0" targetFramework="net462" />
  <package id="Humanizer.Core.zh-Hant" version="2.2.0" targetFramework="net462" />
  <package id="libtorrent-net" version="3.1.0" targetFramework="net462" />
  <package id="MahApps.Metro" version="1.5.0" targetFramework="net462" />
  <package id="MahApps.Metro.IconPacks" version="1.9.1" targetFramework="net462" />
  <package id="MahApps.Metro.Resources" version="0.6.1.0" targetFramework="net462" />
  <package id="Microsoft.ApplicationInsights" version="2.4.0" targetFramework="net462" />
  <package id="Microsoft.ApplicationInsights.NLogTarget" version="2.4.1" targetFramework="net462" />
  <package id="Microsoft.AspNet.Cors" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.0.0" targetFramework="net462" />
  <package id="Microsoft.NETCore.Platforms" version="2.0.1" targetFramework="net462" />
  <package id="Microsoft.Owin" version="3.1.0" targetFramework="net462" />
  <package id="Microsoft.Owin.Cors" version="3.1.0" targetFramework="net462" />
  <package id="Microsoft.Owin.FileSystems" version="3.1.0" targetFramework="net462" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.1.0" targetFramework="net462" />
  <package id="Microsoft.Owin.Hosting" version="3.1.0" targetFramework="net462" />
  <package id="Microsoft.Owin.StaticFiles" version="3.1.0" targetFramework="net462" />
  <package id="Microsoft.VC120.CRT.JetBrains" version="12.0.21005.2" targetFramework="net462" />
  <package id="Microsoft.Win32.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="Microsoft.WindowsAPICodePack-Core" version="1.1.0.2" targetFramework="net462" />
  <package id="Microsoft.WindowsAPICodePack-Shell" version="1.1.0.0" targetFramework="net462" />
  <package id="Mono.Cecil" version="0.9.6.4" targetFramework="net462" />
  <package id="MvvmLight" version="5.3.0.0" targetFramework="net462" />
  <package id="MvvmLightLibs" version="5.3.0.0" targetFramework="net462" />
  <package id="NETStandard.Library" version="2.0.1" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net462" />
  <package id="NLog" version="4.4.12" targetFramework="net462" />
  <package id="Owin" version="1.0" targetFramework="net462" />
  <package id="Polly" version="5.5.0" targetFramework="net462" />
  <package id="protobuf-net" version="2.3.2" targetFramework="net462" />
  <package id="RestSharp" version="106.1.0" targetFramework="net462" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net462" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net462" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net462" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net462" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net462" />
  <package id="Rx-XAML" version="2.2.5" targetFramework="net462" />
  <package id="SharpCompress" version="0.18.2" targetFramework="net462" />
  <package id="SharpNetSH" version="2.0.5" targetFramework="net462" />
  <package id="Splat" version="2.0.0" targetFramework="net462" />
  <package id="SQLitePCLRaw.bundle_e_sqlite3" version="1.1.9" targetFramework="net462" />
  <package id="SQLitePCLRaw.core" version="1.1.9" targetFramework="net462" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.linux" version="1.1.9" targetFramework="net462" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.osx" version="1.1.9" targetFramework="net462" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.v110_xp" version="1.1.9" targetFramework="net462" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.net45" version="1.1.9" targetFramework="net462" />
  <package id="squirrel.windows" version="1.7.8" targetFramework="net462" />
  <package id="SubtitlesParser" version="1.4.7" targetFramework="net462" />
  <package id="System.AppContext" version="4.3.0" targetFramework="net462" />
  <package id="System.Collections" version="4.3.0" targetFramework="net462" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net462" />
  <package id="System.Console" version="4.3.0" targetFramework="net462" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net462" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.4.1" targetFramework="net462" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="net462" />
  <package id="System.Diagnostics.Tracing" version="4.3.0" targetFramework="net462" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net462" />
  <package id="System.Globalization.Calendars" version="4.3.0" targetFramework="net462" />
  <package id="System.IO" version="4.3.0" targetFramework="net462" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net462" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net462" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="net462" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Linq" version="4.3.0" targetFramework="net462" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net462" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="net462" />
  <package id="System.Net.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="net462" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="net462" />
  <package id="System.Reactive" version="3.1.1" targetFramework="net462" />
  <package id="System.Reactive.Core" version="3.1.1" targetFramework="net462" />
  <package id="System.Reactive.Interfaces" version="3.1.1" targetFramework="net462" />
  <package id="System.Reactive.Linq" version="3.1.1" targetFramework="net462" />
  <package id="System.Reactive.PlatformServices" version="3.1.1" targetFramework="net462" />
  <package id="System.Reactive.Windows.Threading" version="3.1.1" targetFramework="net462" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net462" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net462" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net462" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="net462" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net462" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net462" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net462" />
  <package id="System.Runtime.Handles" version="4.3.0" targetFramework="net462" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net462" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net462" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net462" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net462" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net462" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net462" />
  <package id="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="net462" />
  <package id="System.Text.RegularExpressions" version="4.3.0" targetFramework="net462" />
  <package id="System.Threading" version="4.3.0" targetFramework="net462" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.4.0" targetFramework="net462" />
  <package id="System.Threading.Timer" version="4.3.0" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net462" />
  <package id="System.Xml.ReaderWriter" version="4.3.0" targetFramework="net462" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="net462" />
  <package id="TMDbLib" version="1.0.0" targetFramework="net462" />
  <package id="Utf8Json" version="1.3.3.2" targetFramework="net462" />
  <package id="WPFLocalizeExtension" version="3.0.1" targetFramework="net462" />
  <package id="XAMLMarkupExtensions" version="1.2.2" targetFramework="net462" />
  <package id="xmlrpcnet" version="3.0.0.266" targetFramework="net462" />
  <package id="Zeroconf" version="2.9.0" targetFramework="net462" />
</packages>