<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.51.0" targetFramework="net462" />
  <package id="coveralls.net" version="0.8.0-unstable0013" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net462" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net462" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net462" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net462" />
  <package id="NUnit" version="3.8.1" targetFramework="net462" />
  <package id="NUnit.ConsoleRunner" version="3.7.0" targetFramework="net462" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.6.0" targetFramework="net462" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.7.0" targetFramework="net462" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.6.0" targetFramework="net462" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.2" targetFramework="net462" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.6.0" targetFramework="net462" />
  <package id="NUnit.Runners" version="3.7.0" targetFramework="net462" />
  <package id="OpenCover" version="4.6.519" targetFramework="net462" />
</packages>